<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>videojs-panorama Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/video-js.css" rel="stylesheet">
    <link href="/dist/videojs-panorama.css" rel="stylesheet">
    <style>
        body{
            margin: 0;
        }
        body.vjs-full-window .player_wrapper{
            position: static;
        }
        .player_wrapper{
            position: relative;
            max-width: 960px;
            width: 100%;
        }
        .player_container{
            padding-top: 56.25%;
        }
        #videojs-panorama-player{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    </style>



</head>
<body>
<div class="player_wrapper">
    <div class="player_container">
        <video id="videojs-panorama-player" class="video-js vjs-default-skin" poster="assets/poster.jpg"  crossorigin="anonymous" controls>
            <source src="assets/shark.mp4" type='video/mp4'>
        </video>
    </div>
</div>


</body>
</html>